node_modules
.wwebjs_cache
.vscode
scripts.js:Zone.Identifier
index.html:Zone.Identifier
scripts.js_Zone.Identifier
index.html_Zone.Identifier
scripts.js_Zone.Identifier:Zone.Identifier
index.html_Zone.Identifier:Zone.Identifier
notes.md
style.css:Zone.Identifier
notes.md:Zone.Identifier                    
style.css_Zone.Identifier
style.css_Zone.Identifier:Zone.Identifier
app/calendar/index.html:Zone.Identifier
app/calendar/scripts.js:Zone.Identifier
app/calendar/style.css:Zone.Identifier
