* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .calendartd {
  border-radius: 15px;
  border-spacing: 20px;
  padding: 0;
} */

#weekday0 {
  color:#D4538B
}



.my-container {

  display: flex;
  flex-direction: row;
  gap: 30px;
  max-height: 700px; 
  justify-content: space-around;
  margin: 0 auto;
}

.flexbox_ {
  display: flex;
}

.selected {
  background-color:#D4538B !important;
}

.calendar-div {
  min-width: 600px;
  min-height: 300px;
  table-layout:fixed;

  /* border: 30px; */
}

.card {
  margin-top: 120px;
}

.header_ {
  max-width: 165 px;
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0,0,0,.03);
  border-bottom: 1px solid rgba(0,0,0,.125);
}

.calendar-cell {
  text-align: center;
  max-width: 60.443px;
  max-height: 52.513px;
  border-radius: 5px;
  background: #D9D9D9;
}

.td {
  margin: 20px;
}

.calendar-text {
  width: 100%;
  color: black;

}

.services-div {
  /* background-color:#D4538B; */
  display: flex;
  flex-wrap: wrap;
  min-width: 500px;
  max-width: 500px;
  gap: 10px;
}

.service-button {
  /* color: green; */
  width: 224px;
  height: 115.028px;
  display: flex;
  flex-grow: 1; 
  border-radius: 5px;
  background: #D9D9D9;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.service-button:hover {
  background-color: #C6C6C6;
}

.service-button-text {
  /* background-color: #777; */
  align-self: center;
  margin: 10px;
  text-align: center;
  font-size: 30px;
  font-family: K2D;
  color: #000;
  text-align: center;
  font-family: K2D;
}

.time-box-div {
  display: flex;
  flex-wrap: nowrap;
  /* gap: 4px; */
  flex-direction: column;
  width: 300px;
  max-width: 400px;
  /* overflow-y: scroll; */
}

#time-box-body {
  margin-top: 20px;
}


.time-box-button {
  background-color: #bbb;
  max-height: 20px;
  max-width: 100px;
  width: 100%;
  /* height: 1; */
  margin-top: 2px;
  padding-bottom: 25px;
}

.time-box-button:hover {
  background-color:#D4538B;
}

.time-button-text {
  margin: 0;
  padding-left: 18px;
}

.transition {
  transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
}

.unselect {
  user-select: none;
  cursor: pointer;
}

.hidden {
  opacity: 0 !important;
  pointer-events: none;

}

tr {
  max-width: 60px;
  width: 60px;
}


.submit {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
  margin: 0 auto;
}

.confirm {
  display: flex;
  justify-content: space-around;
  flex-direction: row;

}