* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .calendartd {
  border-radius: 15px;
  border-spacing: 20px;
  padding: 0;
} */

#weekday0 {
  color:#D4538B
}

body {
  background-color: #1e1e1e;
}

.spacer {
  /* background-color: green; */
  width: 100%;
  height: 150px;
}

.spacer_2 {
  width: 200px;
  height: 100%;
  background: linear-gradient(#000, #000) no-repeat center/2px 100%;
}

.vertical-line {
  min-width: 4px;
  min-height: 80%;
  background-color: #000;
}


.my-container {
  margin: 50px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: row;
  gap: 30px;
  max-width: 80%;
  margin-top: 100px;
  justify-content: space-around;
  margin: 0 auto;
  border-radius: 25px;
  zoom: 0.67;
  /* transform: scale(0.67); */
  -moz-transform: scale(0.67); 
}

.flexbox_ {
  display: flex;
  justify-content: space-between;
}

.selected {
  background-color:#D4538B !important;
}

.calendar-div {
  min-width: 750px;
  min-height: 400px;
  /* border-style: none double;
  padding: 0 150px; */
  /* table-layout:fixed;  */

  /* border: 30px; */
}



.header_ {
  max-width: 165 px;
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0,0,0,.03);
  border-bottom: 1px solid rgba(0,0,0,.125);
}
.card {
  margin-top: 50px;
}

.calendar-cell {
  text-align: center;
  max-width: 60.443px;
  height: 80px;
  width: 80px;
  /* max-height: 52.513px; */
  border-radius: 10px;
  background: #D9D9D9;
  border: 0px; 
  border-spacing: 10px; 
  border-collapse: separate;
}
.calendar-cell:hover {
  background-color:#C6C6C6;
}

.calendar-text {
  width: 100%;
  font-size: 30px;
  color: black;
}

.calendar-weekday {
  width: 100%;
  font-size: 30px;
  padding: 10px 0 10px 0;
}

.calendar-button:hover {
  background-color: #D4538B;
}

table {
  border: 0px; 
  border-spacing: 10px; 
  border-collapse: separate;
}

td {
  margin: 20px;
}

th {
  text-align: center;
  /* margin-bottom:  */
  background-color: #525252;
  border-radius: 10px;
}
th p{
  color: white;
}

h3 {
  max-width:150px;
  align-self: center;
}


.services-div {
  /* background-color:#D4538B; */
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: 800px;
  gap: 10px;
}

.service-button {
  /* color: green; */
  width: 224px;
  height: 115.028px;
  display: flex;
  flex-grow: 1; 
  border-radius: 5px;
  background: #D9D9D9;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.service-button:hover {
  background-color: #C6C6C6;
}

.service-button-text {
  /* background-color: #777; */
  align-self: center;
  margin: 10px;
  text-align: center;
  font-size: 30px;
  font-family: K2D;
  color: #000;
  text-align: center;
  font-family: K2D;
}

.time-box-div {
  display: flex;
  flex-wrap: nowrap;
  /* gap: 4px; */
  flex-direction: column;
  width: 300px;
  max-width: 400px;
  max-height: 700px;
  margin-top: 20px;
  align-items: center;
  overflow-y: scroll;
}


.time-box-button {
  background-color: #D9D9D9;
  height: 46px;
  /* max-width: 100px; */
  width: 100%;
  margin-top: 2px;
  padding-bottom: 25px;
  text-align: center;

  border-top: 1px solid;
  border-bottom: 1px solid;

}

.time-box-button:hover {
  background-color:#C2C2C2;
}

.time-button-text {
  margin: 0;
  font-size: 20px;
  /* padding-left: 18px; */
}

.transition {
  transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
}

.unselect {
  user-select: none;
  cursor: pointer;
}

.hidden {
  opacity: 0 !important;
  pointer-events: none;
}

.hidden_ {
  visibility: hidden;
}

tr {
  max-width: 60px;
  width: 60px;
}


.submit {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
  margin: 0 auto;
}

.modal_ {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  background-color: #FFF;
  border-radius: 25px;
  max-width: 80%;
  margin: 0 auto;
}

.modal-text {
  background-color: #D9D9D9;
  border-radius: 5px;
  width: 100%;
}

.playfair {
  font-family: 'Playfair';
}

.confirm {
  background-color: green;
}

input {
  background-color: #D9D9D9;
  border: none;
  border-radius: 5px;
}

input:focus{
  outline: none;
}



p {
  margin: 0;
}

